name: Install and Run Service

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run service script
      run: .\run.bat
